<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credentials</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Benne&family=Cormorant:ital,wght@0,300..700;1,300..700&family=EB+Garamond:wght@500&family=Elsie&family=Great+Vibes&family=Gruppo&family=Libre+Baskerville:ital@0;1&family=Lobster+Two:ital,wght@1,700&family=PT+Sans&family=Poppins:ital,wght@1,100&family=Quattrocento&family=Roboto:wght@300&family=Satisfy&display=swap"
        rel="stylesheet">
    <style>
        p {
            font-family: "Satisfy", cursive;
            font-size: 30px;
            color: #05445E;
        }

        .c_container {
            margin-top: 30px;
            max-height: 500px;
            max-width: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background: linear-gradient(45deg, #FFC2C7, #B6E5D8, #FBE5C8, #8FDDE7);
            border: solid 5px #FFC2C7;
            border-radius: 15px;
        }

        .c_content {
            max-height: 395px;
            padding: 10px;
            width: 360px;
            border: solid 4px #29A0B1;
            border-radius: 15px;
        }
        @media (min-width:250px) and (max-width : 450px){
            .c_container{
                width: 250px;
                height: 400px;
            }
            .c_content{
                width: 210px;
            }
            .adress{
                height: 210px;
            }
            p{
                font-size: 25px;
            }
    </style>
</head>

<body>
    <main>
        <h2>Your Credentials</h2>
        <div class="c_container ">
            <div class="c_content ">
                <% if(locals.user) { %>
                    <p>
                        <%= locals.user.fname%>
                            <%= locals.user.lname %>
                    </p>
                    <p>
                        <%= locals.user.mobile %>
                    </p>
                    <div class="adress">Adress
                        <p>
                            <%= locals.user.street %>
                        </p>
                        <p>
                            <%= locals.user.city %>
                        </p>
                        <p>
                            <%= locals.user.state %>
                        </p>
                        <p>
                            <%= locals.user.country %>
                        </p>
                    </div>
                    <p>
                        <%= locals.user.email %>
                    </p>
                    <% } %>
            </div>
        </div>
    </main>
</body>

</html>
